*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    //This defines what 1rem is 
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    background-color: #FFF;
}

.container{
    max-width: 140rem;
    margin: 0 auto;

    display: grid;
    grid-template-rows: 9.5rem min-content 12.5rem repeat(2, min-content);
}

.btn{
    display: grid;
    grid-template-columns: repeat(2, min-content);
    
    text-decoration: none;
    padding: 1.2rem 3.2rem;
    display: inline-block;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.5rem;
    outline: none;
    
    &-submit {
        background-color: $color-green-primary;
        color: #fff;
        margin-right: 1.5rem;

        &:hover, &:active{
            background-color: $color-green-darker;
        }
    }

    &-discard {
        background-color: $color-grey-light2;

        &:hover, &:active{
            background-color: $color-grey-light3;
        }
    }
}
