*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #FFF; }

.container {
  max-width: 140rem;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 9.5rem min-content 12.5rem repeat(2, min-content); }

.btn {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  text-decoration: none;
  padding: 1.2rem 3.2rem;
  display: inline-block;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.5rem; }
  .btn-submit {
    background-color: #00b38f;
    color: #fff;
    margin-right: 1.5rem; }
    .btn-submit:hover, .btn-submit:active {
      background-color: #008066; }
  .btn-discard {
    background-color: #ebe9e9; }
    .btn-discard:hover, .btn-discard:active {
      background-color: #c0c0c0; }

body {
  font-family: Roboto, sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: #000; }

h1 {
  font-size: 2.8rem;
  font-weight: 300; }

h2 {
  font-size: 1.8rem;
  font-weight: 300; }

.breadcrumb {
  display: flex;
  align-items: center;
  height: 4rem;
  background-color: #f0f5f4;
  font-weight: 400;
  padding: 0 6rem; }
  .breadcrumb__home {
    font-size: 1.2rem; }
  .breadcrumb a {
    color: #00b38f;
    text-decoration: none; }
  .breadcrumb a:hover {
    text-decoration: underline; }
  .breadcrumb__track {
    color: #c0c0c0;
    margin: 0 1.5rem; }

.breadcrumb::before {
  height: 4rem;
  background-color: #f0f5f4; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6rem; }
  .header__logo {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-column-gap: 1rem; }
    .header__logo-frame {
      height: 4rem;
      width: 4rem;
      background-color: #00b38f;
      border-radius: 15%;
      display: flex;
      justify-content: center;
      align-items: center; }
    .header__logo-icon {
      font-size: 1.5rem;
      line-height: 1;
      padding: .15rem .3rem;
      color: #fff;
      background-color: #00b38f;
      border: .3rem solid #fff;
      border-radius: 15%;
      transform: translate(2px, 2px); }
    .header__logo-name {
      display: flex;
      align-items: center;
      font-size: 1.9rem;
      font-weight: 500; }
  .header__user {
    display: grid;
    grid-template-columns: min-content max-content;
    grid-column-gap: 1rem;
    align-items: center; }
    .header__user-icon {
      border: 1px solid #000;
      border-radius: 50%;
      padding: .8rem;
      font-size: 1.5rem;
      font-weight: 400;
      transform: translateX(1.8rem);
      z-index: 2; }
    .header__user-select {
      position: relative;
      width: 100%; }
      .header__user-select select {
        display: inline-block;
        cursor: pointer;
        outline: 0;
        border: 0;
        padding: 0 1.5rem;
        font-size: 1.5rem;
        font-weight: 400;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none; }
      .header__user-select select::-ms-expand {
        display: none; }
      .header__user-select select:hover,
      .header__user-select select:focus {
        color: #008066;
        background: #ffffff; }
      .header__user-select select:disabled {
        opacity: 0.5;
        pointer-events: none; }
      .header__user-select select:hover ~ .select_arrow,
      .header__user-select select:focus ~ .select_arrow {
        border-top-color: black; }
      .header__user-select select:disabled ~ .select_arrow {
        border-top-color: #494949; }
    .header__user .select_arrow {
      position: absolute;
      top: 5px;
      right: -.3rem;
      width: 10px;
      height: 10px;
      border: solid #000000;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg); }

.reg {
  display: grid;
  grid-template-rows: min-content min-content 1fr;
  grid-row-gap: 2rem;
  padding: 0 6rem; }
  .reg__head {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-column-gap: 2rem;
    align-items: center; }
  .reg__boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem; }
    .reg__boxes-box {
      display: grid;
      grid-template-columns: min-content 1fr;
      grid-template-rows: min-content min-content;
      grid-column-gap: 2rem;
      grid-row-gap: 1.5rem;
      width: 35rem; }
      .reg__boxes-box-h2 {
        grid-column: 1 / span 2;
        color: #00b38f; }
      .reg__boxes-box-icon {
        font-size: 6rem;
        color: #00b38f; }
      .reg__boxes-box-text {
        font-size: 1.5rem; }
  .reg__form {
    display: grid;
    grid-template-rows: 3rem 1fr;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 2rem;
    grid-column-gap: 8rem;
    margin: 4rem auto;
    width: 92rem;
    /*
        &-label {

        }
        */ }
    .reg__form-line {
      grid-column: 1 / span 2;
      width: 100%;
      height: 2px;
      background-color: #ebe9e9; }
    .reg__form-group {
      display: grid;
      grid-template-rows: repeat(2, min-content);
      grid-row-gap: .2rem;
      font-weight: 500; }
    .reg__form-input {
      border: 1px solid #c0c0c0;
      padding: 1rem 1rem .5rem 1rem;
      border-radius: 6px;
      font-family: inherit;
      font-size: inherit; }
      .reg__form-input:focus, .reg__form-input:hover {
        border: 1px solid #00b38f; }
    .reg__form-group-radio {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr; }
    .reg__form-radio-text {
      grid-column: 1 / span 3;
      font-weight: 500; }
    .reg__form-radio {
      display: flex;
      align-items: center; }
      .reg__form-radio-input {
        display: none; }
      .reg__form-radio-label {
        cursor: pointer;
        position: relative;
        padding-left: 3.5rem; }
      .reg__form-radio-btn {
        height: 2.5rem;
        width: 2.5rem;
        border: 1px solid #c0c0c0;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: -.4rem; }
        .reg__form-radio-btn::after {
          content: "";
          display: block;
          height: 1.2rem;
          width: 1.2rem;
          border-radius: 50%;
          position: absolute;
          top: 52%;
          left: 52%;
          transform: translate(-50%, -50%);
          background-color: #000;
          opacity: 0;
          transition: opacity .2s; }
        .reg__form-radio-btn:hover, .reg__form-radio-btn:checked {
          border: 1px solid #00b38f; }
      .reg__form-radio-input:checked ~ .reg__form-radio-label .reg__form-radio-btn::after {
        opacity: 1; }
    .reg__form-group-checkbox {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: repeat(7, 1fr); }
    .reg__form-checkbox-text {
      grid-column: 1 / span 7;
      font-weight: 500; }
    .reg__form-checkbox {
      display: grid;
      grid-template-columns: repeat(7, min-content);
      grid-column-gap: 1px;
      align-items: center; }
      .reg__form-checkbox-input {
        display: none; }
      .reg__form-checkbox-label {
        cursor: pointer;
        position: relative;
        padding-left: 3rem; }
      .reg__form-checkbox-btn {
        height: 2.5rem;
        width: 2.5rem;
        border: 1px solid #c0c0c0;
        border-radius: 5px;
        position: absolute;
        left: 0;
        top: -.4rem; }
        .reg__form-checkbox-btn::after {
          content: "";
          box-sizing: unset;
          display: block;
          position: absolute;
          left: 8px;
          top: 5px;
          height: 1rem;
          width: .5rem;
          border: solid #000;
          border-width: 0 3px 4px 0;
          transform: rotate(45deg);
          opacity: 0;
          transition: opacity .2s; }
        .reg__form-checkbox-btn:hover, .reg__form-checkbox-btn:checked {
          border: 1px solid #00b38f; }
      .reg__form-checkbox-input:checked ~ .reg__form-checkbox-label .reg__form-checkbox-btn::after {
        opacity: 1; }

.sport {
  height: 12.5rem;
  padding: 0 6rem;
  background-color: #b9f5e5;
  display: flex;
  align-items: center; }
  .sport__box {
    display: grid;
    grid-template-columns: min-content max-content;
    grid-column-gap: 2rem;
    align-items: flex-start;
    margin-right: 6rem; }
    .sport__box-icon {
      grid-row: span 2;
      font-size: 5rem;
      color: #00b38f;
      transform: translateX(1rem); }
    .sport__box-category {
      font-size: 1.3rem;
      font-weight: 300;
      transform: translateX(1rem); }
    .sport__box-value {
      grid-column: 2;
      font-size: 2.4rem;
      font-weight: 600;
      transform: translateX(1rem); }

.users {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-row-gap: 1rem;
  padding: 3rem 6rem; }
  .users__head {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    grid-column-gap: 6rem;
    align-items: center; }
    .users__head-line {
      width: 100%;
      height: 3px;
      background-color: #ebe9e9; }
    .users__head-filter-input {
      width: 30rem;
      border: 1px solid #c0c0c0;
      padding: 1rem 1rem .5rem 2.5rem;
      border-radius: 4px;
      font-family: inherit;
      font-size: inherit;
      color: #a0a1a0; }
    .users__head-filter-btn {
      border: none;
      background-color: #fff;
      z-index: 2;
      transform: translateX(2rem);
      cursor: pointer;
      color: #a0a1a0; }
      .users__head-filter-btn:focus {
        outline: none; }
      .users__head-filter-btn:active, .users__head-filter-btn:hover {
        color: black; }
      .users__head-filter-btn-icon {
        font-size: 1.4rem; }
  .users__list {
    width: 100%; }
    .users__list table {
      width: 100%;
      border-collapse: collapse; }
      .users__list table th, .users__list table td {
        border: 0;
        padding: 1.6rem .2rem;
        text-align: left; }
      .users__list table th {
        background: #fff;
        font-weight: 500; }
      .users__list table tr:nth-child(even) {
        background: #fff; }
      .users__list table tr:nth-child(odd) {
        background: #f0f5f4; }
      .users__list table tr:hover {
        background: #ebe9e9; }
        .users__list table tr:hover .trash {
          opacity: 1; }
        .users__list table tr:hover .trash:active {
          color: #008066; }
      .users__list table .trash {
        font-size: 1.6rem;
        color: #00b38f;
        opacity: 0; }
