//Colors---------------------------
$color-green-light: #b9f5e5;
$color-green-primary: #00b38f;
$color-green-darker: #008066;

$color-grey-light: #f0f5f4;
$color-grey-light2: #ebe9e9;
$color-grey-light3: #c0c0c0;
$color-grey-letter: #a0a1a0;

//layout
$padding-content: 0 6rem;

