.breadcrumb{
    display: flex;
    align-items: center;

    height: 4rem;
    background-color: $color-grey-light;
    font-weight: 400;
    padding: $padding-content;

    &__home {
        font-size: 1.2rem;
    }

    a {
        color: $color-green-primary;
        text-decoration: none;
    }

    a:hover, {
        text-decoration: underline;
    }

    &__track {
        color: $color-grey-light3;
        margin: 0 1.5rem;
    }


}

.breadcrumb::before {
    height: 4rem;
    background-color: $color-grey-light;
}