.reg {
    display: grid;
    grid-template-rows: min-content min-content 1fr;
    grid-row-gap: 2rem;

    padding: $padding-content;

    &__head {
        display: grid;
        grid-template-columns: min-content 1fr;
        grid-column-gap: 2rem;

        align-items: center;
    }

    &__boxes {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 2rem;

        &-box {
            display: grid;
            grid-template-columns: min-content 1fr;
            grid-template-rows: min-content min-content;
            grid-column-gap: 2rem;
            grid-row-gap: 1.5rem;

            width: 35rem;

            &-h2 {
                grid-column: 1 / span 2;

                color: $color-green-primary;
            }

            &-icon {
                font-size: 6rem;
                color: $color-green-primary;
            }

            &-text {
                font-size: 1.5rem;
            }
        }
    }

    &__form {
        display: grid;
        grid-template-rows: 3rem 1fr;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 2rem;
        grid-column-gap: 8rem;
        
        margin: 4rem auto;
        width: 92rem;

        &-line{
            grid-column: 1 / span 2;
        
            width: 100%;
            height: 2px;
            background-color: $color-grey-light2;
        }

        &-group{
            display: grid;
            grid-template-rows: repeat(2, min-content);
            grid-row-gap: .2rem;

            font-weight: 500;
        
        }

        &-input {
            border: 1px solid $color-grey-light3;
            padding: 1rem 1rem .5rem 1rem;
            border-radius: 6px;
            font-family: inherit;
            font-size: inherit;
            
            &:focus,&:hover {
                border: 1px solid $color-green-primary;
            }
        }
        
        /*
        &-label {

        }
        */

        &-group-radio {
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr

        }

        &-radio-text {
            grid-column: 1 / span 3;

            font-weight: 500;

        }

        &-radio {
            display: flex;
            align-items: center;
            
            //to hide radio button for styled one.
            &-input {
                display: none;
            }

            &-label {
                cursor: pointer;
                position: relative;
                padding-left: 3.5rem;
            }

            //simulates span as radio button
            &-btn {
                height: 2.5rem;
                width: 2.5rem;
                border: 1px solid $color-grey-light3;
                border-radius: 50%;
                position: absolute;
                left: 0;
                top: -.4rem;

                //style for indicator
                &::after {
                    content: "";
                    display: block;
                    height: 1.2rem;
                    width: 1.2rem;
                    border-radius: 50%;
                    position: absolute;
                    top:52%;
                    left: 52%;
                    transform: translate(-50%, -50%);
                    background-color: #000;
                    opacity: 0;
                    transition: opacity .2s;
                }

                // change borderline hoverchecked
                &:hover, &:checked {
                    border: 1px solid $color-green-primary;
                }
            }

            //trigger to show styled checked
            &-input:checked ~ &-label &-btn::after {
                opacity: 1;
            }
        }

        &-group-checkbox {
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: repeat(7, 1fr);

        }

        &-checkbox-text {
            grid-column: 1 / span 7;

            font-weight: 500;

        }

        &-checkbox {
            display: grid;
            grid-template-columns: repeat(7, min-content);
            grid-column-gap: 1px;
            align-items: center;

            &-input {
                display: none;

            }

            &-label {
                cursor: pointer;
                position: relative;
                padding-left: 3rem;
            }

            //simulates span as checkbox button
            &-btn {
                height: 2.5rem;
                width: 2.5rem;
                border: 1px solid $color-grey-light3;
                border-radius: 5px;
                position: absolute;
                left: 0;
                top: -.4rem;
                
                //style for indicator
                &::after {
                    content: "";
                    box-sizing: unset;
                    display: block;
                    position: absolute;
                    left: 8px;
                    top: 5px;
                    height: 1rem;
                    width: .5rem;
                    border: solid #000;
                    border-width: 0 3px 4px 0;
                    transform: rotate(45deg);
                    opacity: 0;
                    transition: opacity .2s;  
                }
                
                // when checked
                &:hover, &:checked {
                    border: 1px solid $color-green-primary;
                }
            }

            //trigger to show styled checked
             &-input:checked ~ &-label &-btn::after {
                opacity: 1;
                
            }
        }
    }
}